{% load static %}
{% load bootstrap4 %}

{% include 'head.html' %}

<div class="container">
    {% bootstrap_messages %}

    <br>
    <center><h1>Adicionar música à Playlist</h1></center>
    <br>

    <form action="{% url 'add_item_playlist' %}" method="post"  class="form" autocomplete="off">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-info btn-lg">Pesquisar</button>
            <a href="{% url 'index' %}" class="btn btn-info btn-lg" role="button">Voltar</a>
        {% endbuttons %}
    </form>


</div>

{% include 'footer.html' %}