{% load static %}
{% load bootstrap4 %}

{% include 'head.html' %}

<div class="container">
     <br>
     <center><h1>Adicionar música à Playlist</h1></center>
     <br>
     <a href="{% url 'search_item' %}" class="btn btn-info btn-lg" role="button">Voltar</a>
     <br><br>
     <table class="table table-sm table-dark table-striped">
        <thead>
        <tr style="background-color: #FFFFFF !important;"><td colspan="6"><center><a href="{{ link_playlist }}" target="_blank">Clique aqui para abrir a playlist</a></center></td></tr>
        <tr>
            <th scope="col">Capa</th>
            <th scope="col">Nome da Música</th>
            <th scope="col">Artista</th>
            <th scope="col">Álbum</th>
            <th scope="col">Ouça no Spotify</th>
            <th scope="col">Adicionar à Playlist</th>

        </tr>
        </thead>
        <tbody>
        {% for item in result.json.tracks.items %}
                <td><img src="{{ item.album.images.2.url }}" alt="Capa"></td>
                <td scope="row" style="text-decoration: none;">{{ item.name }}</td>
                <td>{{ item.artists.0.name }}</td>
                <td>{{ item.album.name }}</td>
                <td><center><a href="{{ item.external_urls.spotify }}" target="_blank">Link</a></center></td>
                <td>
                    <form action="{% url 'add_success' %}" method="post"  class="form" autocomplete="off">
                        {% csrf_token %}
                        <input type="hidden" value="{{ item.id }}" name="track_id" id="track_id">
                        {% buttons %}
                            <center><button type="submit" class="btn btn-info btn-lg"> <i class="fas fa-plus"></i>  </button></center>
                        {% endbuttons %}
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% bootstrap_javascript jquery='full' %}
</body>
</html>