{% load static %}
{% load bootstrap4 %}

{% include 'head.html' %}

<div class="container">

    <div class="jumbotron" style="padding: 32px;">
        {% bootstrap_messages %}
        <h1 class="display-4">Olá, galerinha!</h1>

        <div class="row">
            <div class="col-sm">
                <center><img src="{% static 'images/bruno.jpg' %}" alt="Foto de Bruno Lindoso" class="img-thumbnail" style="width: 85%" id="lindoso"></center>
            </div>

            <div class="col-sm">
                <p class="lead">Me chamo <strong>Bruno Lindoso</strong> e sou Analista de Implantação na Weni. </p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-info"><strong>contact:</strong></li>
                    <li class="list-group-item"><strong>E-mail:</strong> bruno.lindoso@weni.ai</li>
                    <li class="list-group-item"><strong>Função:</strong> Analista de Implantação
                        <img src="{% static 'images/desbravadores.jpg' %}" alt="Desbravadores" id="desbravadores" title="Time Desbravadores">
                    </li>
                    <li class="list-group-item"><strong>Time:</strong> Serviços/Kraken
                        <img src="{% static 'images/kraken.png' %}" alt="Kraken" id="kraken" title="Time Kraken">
                    </li>
                    <li class="list-group-item"><strong>Empresa:</strong> Weni
                        <a href="https://weni.ai" target="_blank"><img src="{% static 'images/weni-logo.png' %}" alt="Weni" id="weni" title="Weni"></a>
                    </li>
                </ul>
            </div>

        </div>
        <hr class="my-4">
        <p>Este projeto foi desenvolvido como <strong>teste técnico</strong> para a vaga de Suporte N3, que visa avaliar meus conhecimentos na linguagem Python com o uso do Django Framework.</p>
        <a class="btn btn-info btn-lg" href="{% url 'index' %}" role="button">Voltar</a>

    </div>
</div>

{% include 'footer.html' %}