{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <title>Remover música da Playlist</title>
</head>
<body>

    {% include 'navbar.html' %}

<div class="container">
    <br>    <br>
    <center><h1>Remover música da Playlist</h1></center>
    <br>
    {% bootstrap_messages %}
    <br>
    <center><a href="{% url 'index' %}" class="btn btn-lg btn-info">Ver minha Playlist</a></center>

</div>

{% bootstrap_javascript jquery='full' %}
</body>
</html>