{% load static %}
{% load bootstrap4 %}

{% include 'head.html' %}

<div class="container">
    <br>
    {% bootstrap_messages %}
    <br>
    <form action="{% url 'index' %}" method="post"  class="form" autocomplete="off">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}            
            <button type="submit" class="btn btn-info btn-lg">Salvar sua ID</button>
        {% endbuttons %}
    </form>
    <br>
    <input type="button" class="btn btn-danger btn-lg" onclick="requestAuthorization()" value="Obtenha o seu Token">
    <a class="btn btn-info btn-lg" href="{% url 'spotify' %}" role="button">Visualizar sua Playlist</a>
    <a class="btn btn-warning btn-lg" href="{% url 'reset_playlist' %}" role="button">Playlist padrão do desafio</a>


    <br>
    <div class="table-info">
        <hr>
        <center><h2>IMPORTANTE</h2></center>
        <hr>
        <ul>
            <li class="lead">Para você conseguir manipular a Playlist, você deverá ser o <strong style="color: red;">proprietário</strong> dela. Ou seja, não há como manipular Playlists de terceiros ou colaborativas através da API.</li>
            <li class="lead">Além disso, seu usuário do Spotify deverá ser cadastrado no <a href="https://developer.spotify.com/dashboard/">https://developer.spotify.com/dashboard/</a>, pois o APP se encontra em <strong>Developer Mode</strong></li>
        </ul>
        <hr>
    </div>
    <div class="table-danger">
        <hr>
        <center><h2>ATENÇÃO</h2></center>
        <hr>
        <ul>
            <li class="lead">Antes de adicionar uma música na Playlist, <strong style="color: red;">Obtenha o seu Token</strong> clicando no botão de mesmo nome. Em seguida, faça login e <strong>ACEITE</strong> os termos do Spotify.</li>
        </ul>
        <hr>
    </div>
    
</div>

{% include 'footer.html' %}