#kraken {
    width: 50px;
    height: auto;
    float: right;
}

#weni {
    width: 90px;
    height: auto;
    float: right;
}

#desbravadores {
    width: 60px;
    height: auto;
    float: right;
}